version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
- package-ecosystem: "bun"
  directory: "/dashboard"
  schedule:
    interval: "weekly"
- package-ecosystem: "uv"
  directory: "/transform"
  schedule:
    interval: "weekly"
